In [1]:
import pandas as pd

In [62]:
# não esquecer de colocar o separador, se não o sistema não reconhece
# parse_date é para converter o tipo de dados de object para datetime

df = pd.read_csv("ocorrencia_2010_2020.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True)

# Selecionando somente as colunas que quero manipular

df = df[['codigo_ocorrencia','codigo_ocorrencia2','ocorrencia_classificacao','ocorrencia_cidade','ocorrencia_uf','ocorrencia_aerodromo','ocorrencia_dia','ocorrencia_hora','total_recomendacoes']]

# Exibindo os 10 primeiros registros do Dataset

df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [63]:
# df.loc[linha, coluna]

df.loc[4, 'ocorrencia_cidade'] # loc é para localizar dados em um dataseet

'PELOTAS'

In [64]:
# informa todos os dados da linha 1 até 3

df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0

In [65]:
# filtrar a linha 10 e a linha 40

df.loc[[10, 40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0

In [66]:
df.loc[1, 'ocorrencia_classificacao']

'INCIDENTE'

In [67]:
# filtrando todas as informações de uma coluna

df.loc[:, 'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [68]:
# Alterando o índice do DataFrame
# Sugestão: Selecionar uma coluna que não tenha repetições

# Verificando se a coluna é unica, ou seja, não tem repetições

df.codigo_ocorrencia.is_unique

True

In [69]:
# Mudando o indice do DataSet para codigo_ocorrencia

df.set_index('codigo_ocorrencia', inplace = True)

In [70]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [71]:
# Filtrando todas as informações da ocorrencia 40211

df.loc[40211]

codigo_ocorrencia2                        40211
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        12:00:00
total_recomendacoes                           0
Name: 40211, dtype: object

In [72]:
# Voltando para o Índice Original

df.reset_index(drop=True, inplace=True)

In [73]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [74]:
# não usar isso, pois irá alterar a coluna linha toda
# Não fazer essas leseiras!

df.loc[0, 'ocorrencia_aerodromo'] = ''

In [75]:
df.head(1)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0

In [76]:
# Não fazer essas leseiras!

df.loc[1] = 20

In [77]:
df.head(3)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,0
1,20,20,20,20,20,20,20,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0

In [78]:
# Não fazer essas leseiras!

df.loc[:, 'total_recomendacoes'] = 10

In [79]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10
1,20,20,20,20,20,20,20,10
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10
...,...,...,...,...,...,...,...,...
5747,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30 00:00:00,18:30:00,10
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31 00:00:00,09:00:00,10
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,10

In [80]:
# Criando uma coluna de Bkp

df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [81]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS
...,...,...,...,...,...,...,...,...,...
5747,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,SP
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30 00:00:00,18:30:00,10,TO
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10,RJ
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31 00:00:00,09:00:00,10,MS
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,10,RJ

In [82]:
# Alterando o campo Incidente Grave por Grave, onde a ocorrencia_uf é igual a SP

df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [83]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS
...,...,...,...,...,...,...,...,...,...
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,SP
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30 00:00:00,18:30:00,10,TO
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10,RJ
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31 00:00:00,09:00:00,10,MS
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,10,RJ

In [84]:
# Pesquisando todas as ocorrencias onde a UF é SP

df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
11,40069,GRAVE,SÃO PAULO,SP,SBMT,2010-01-10 00:00:00,14:50:00,10,SP
16,39809,GRAVE,SÃO PAULO,SP,****,2010-01-15 00:00:00,15:00:00,10,SP
18,39828,GRAVE,SANTOS,SP,****,2010-01-15 00:00:00,17:45:00,10,SP
26,39847,GRAVE,SOROCABA,SP,****,2010-01-20 00:00:00,13:10:00,10,SP
27,39768,GRAVE,CAMPINAS,SP,****,2010-01-21 00:00:00,20:45:00,10,SP
...,...,...,...,...,...,...,...,...,...
5704,79739,GRAVE,SÃO PAULO,SP,SBSP,2020-12-03 00:00:00,14:42:00,10,SP
5705,79705,GRAVE,SOROCABA,SP,SDCO,2020-12-04 00:00:00,15:30:00,10,SP
5715,79718,GRAVE,SÃO PAULO,SP,SBMT,2020-12-11 00:00:00,13:50:00,10,SP
5742,79800,GRAVE,SÃO PAULO,SP,SBMT,2020-12-28 00:00:00,10:15:00,10,SP
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,SP

In [85]:
df_AM = df.loc[df.ocorrencia_uf == 'AM']

In [86]:
df_AM

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
6,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07 00:00:00,18:40:00,10,AM
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09 00:00:00,12:30:00,10,AM
15,39315,ACIDENTE,CANUTAMA,AM,****,2010-01-15 00:00:00,21:22:00,10,AM
78,39916,INCIDENTE GRAVE,MANAUS,AM,SBEG,2010-03-07 00:00:00,19:35:00,10,AM
100,40170,INCIDENTE,MANAUS,AM,SBEG,2010-03-20 00:00:00,11:00:00,10,AM
...,...,...,...,...,...,...,...,...,...
5642,79617,INCIDENTE,LÁBREA,AM,SWLB,2020-10-19 00:00:00,12:39:00,10,AM
5647,79632,INCIDENTE,TABATINGA,AM,SBTT,2020-10-22 00:00:00,19:54:00,10,AM
5691,79709,INCIDENTE,MANAUS,AM,SBEG,2020-11-24 00:00:00,01:00:00,10,AM
5730,79785,INCIDENTE,MANAUS,AM,SBEG,2020-12-19 00:00:00,12:37:00,10,AM
5731,79746,INCIDENTE,MANAUS,AM,SWFN,2020-12-20 00:00:00,20:40:00,10,AM

In [87]:
df_manaus = df.loc[df.ocorrencia_cidade == 'MANAUS']
df_manaus

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
78,39916,INCIDENTE GRAVE,MANAUS,AM,SBEG,2010-03-07 00:00:00,19:35:00,10,AM
100,40170,INCIDENTE,MANAUS,AM,SBEG,2010-03-20 00:00:00,11:00:00,10,AM
163,40575,INCIDENTE,MANAUS,AM,SBEG,2010-05-01 00:00:00,16:15:00,10,AM
174,40791,INCIDENTE,MANAUS,AM,****,2010-05-07 00:00:00,10:28:00,10,AM
184,40855,ACIDENTE,MANAUS,AM,****,2010-05-13 00:00:00,18:58:00,10,AM
...,...,...,...,...,...,...,...,...,...
5579,79528,INCIDENTE,MANAUS,AM,SBEG,2020-09-03 00:00:00,11:29:00,10,AM
5606,79591,INCIDENTE,MANAUS,AM,SBEG,2020-09-20 00:00:00,18:50:00,10,AM
5691,79709,INCIDENTE,MANAUS,AM,SBEG,2020-11-24 00:00:00,01:00:00,10,AM
5730,79785,INCIDENTE,MANAUS,AM,SBEG,2020-12-19 00:00:00,12:37:00,10,AM
5731,79746,INCIDENTE,MANAUS,AM,SWFN,2020-12-20 00:00:00,20:40:00,10,AM

In [88]:

df_manaus_aerodromo = df.loc[df.ocorrencia_aerodromo == 'SBEG']
df_manaus_aerodromo

#df.loc[df.ocorrencia_aerodromo].count_values()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
78,39916,INCIDENTE GRAVE,MANAUS,AM,SBEG,2010-03-07 00:00:00,19:35:00,10,AM
100,40170,INCIDENTE,MANAUS,AM,SBEG,2010-03-20 00:00:00,11:00:00,10,AM
163,40575,INCIDENTE,MANAUS,AM,SBEG,2010-05-01 00:00:00,16:15:00,10,AM
233,41551,INCIDENTE,MANAUS,AM,SBEG,2010-06-15 00:00:00,15:20:00,10,AM
500,43325,INCIDENTE,MANAUS,AM,SBEG,2010-11-25 00:00:00,13:20:00,10,AM
611,43812,INCIDENTE,MANAUS,AM,SBEG,2011-02-02 00:00:00,21:26:00,10,AM
640,44043,INCIDENTE,MANAUS,AM,SBEG,2011-02-18 00:00:00,15:50:00,10,AM
737,44378,INCIDENTE,MANAUS,AM,SBEG,2011-04-13 00:00:00,12:05:00,10,AM
754,44436,ACIDENTE,MANAUS,AM,SBEG,2011-04-21 00:00:00,18:51:00,10,AM
762,44892,INCIDENTE,MANAUS,AM,SBEG,2011-04-28 00:00:00,23:49:00,10,AM
849,44737,INCIDENTE,MANAUS,AM,SBEG,2011-06-25 00:00:00,18:42:00,10,AM
881,44836,INCIDENTE,MANAUS,AM,SBEG,2011-07-15 00:00:00,15:51:00,10,AM
1097,45289,INCIDENTE,MANAUS,AM,SBEG,2011-12-10 00:00:00,11:20:00,10,AM
1211,45681,INCIDENTE,MANAUS,AM,SBEG,2012-02-23 00:00:00,10:25:00,10,AM
1272,46901,ACIDENTE,MANAUS,AM,SBEG,2012-03-26 00:00:00,20:30:00,10,AM
1303,45777,INCIDENTE,MANAUS,AM,SBEG,2012-04-15 00:00:00,06:15:00,10,AM
1415,45973,INCIDENTE,MANAUS,AM,SBEG,2012-06-22 00:00:00,14:30:00,10,AM
1496,52061,INCIDENTE,MANAUS,AM,SBEG,2012-08-08 00:00:00,10:32:00,10,AM
1715,46758,INCIDENTE,MANAUS,AM,SBEG,2012-11-29 00:00:00,18:20:00,10,AM
1719,46638,INCIDENTE,MANAUS,AM,SBEG,2012-12-02 00:00:00,15:00:00,10,AM
1884,47086,INCIDENTE,MANAUS,AM,SBEG,2013-02-25 00:00:00,22:13:00,10,AM
1918,47208,INCIDENTE,MANAUS,AM,SBEG,2013-03-16 00:00:00,11:36:00,10,AM
2019,48163,INCIDENTE,MANAUS,AM,SBEG,2013-05-02 00:00:00,15:46:00,10,AM
2042,48442,INCIDENTE,MANAUS,AM,SBEG,2013-05-12 00:00:00,23:04:00,10,AM
2108,48897,INCIDENTE,MANAUS,AM,SBEG,2013-06-21 00:00:00,22:31:00,10,AM
2148,49292,INCIDENTE,MANAUS,AM,SBEG,2013-07-13 00:00:00,20:00:00,10,AM
2151,49116,ACIDENTE,MANAUS,AM,SBEG,2013-07-16 00:00:00,10:22:00,10,AM
2198,49539,INCIDENTE,MANAUS,AM,SBEG,2013-08-14 00:00:00,09:25:00,10,AM
2205,49528,INCIDENTE,MANAUS,AM,SBEG,2013-08-18 00:00:00,19:25:00,10,AM
2234,49635,INCIDENTE,MANAUS,AM,SBEG,2013-09-06 00:00:00,03:06:00,10,AM
2274,49833,INCIDENTE,MANAUS,AM,SBEG,2013-10-02 00:00:00,21:20:00,10,AM
2368,50557,INCIDENTE,MANAUS,AM,SBEG,2013-12-02 00:00:00,11:17:00,10,AM
2379,50399,INCIDENTE,MANAUS,AM,SBEG,2013-12-06 00:00:00,21:52:00,10,AM
2527,51263,INCIDENTE,MANAUS,AM,SBEG,2014-02-12 00:00:00,10:55:00,10,AM
2685,51541,INCIDENTE,MANAUS,AM,SBEG,2014-05-21 00:00:00,15:20:00,10,AM
2721,51557,INCIDENTE,MANAUS,AM,SBEG,2014-06-18 00:00:00,05:36:00,10,AM
2828,52295,INCIDENTE GRAVE,MANAUS,AM,SBEG,2014-09-01 00:00:00,12:57:00,10,AM
2978,52856,INCIDENTE,MANAUS,AM,SBEG,2014-12-20 00:00:00,18:20:00,10,AM
3003,53077,INCIDENTE,MANAUS,AM,SBEG,2015-01-06 00:00:00,15:50:00,10,AM
3060,52996,INCIDENTE,MANAUS,AM,SBEG,2015-02-10 00:00:00,13:05:00,10,AM
3073,53130,INCIDENTE,MANAUS,AM,SBEG,2015-02-21 00:00:00,02:14:00,10,AM
3244,53363,INCIDENTE,MANAUS,AM,SBEG,2015-07-04 00:00:00,20:02:00,10,AM
3273,53375,ACIDENTE,MANAUS,AM,SBEG,2015-07-23 00:00:00,19:59:00,10,AM
3623,61011,INCIDENTE,MANAUS,AM,SBEG,2016-04-22 00:00:00,15:57:00,10,AM
3778,65827,INCIDENTE,MANAUS,AM,SBEG,2016-10-14 00:00:00,13:30:00,10,AM
4365,77716,INCIDENTE,MANAUS,AM,SBEG,2018-02-24 00:00:00,21:05:00,10,AM
4579,78085,INCIDENTE,MANAUS,AM,SBEG,2018-07-30 00:00:00,11:45:00,10,AM
4626,78188,INCIDENTE,MANAUS,AM,SBEG,2018-09-19 00:00:00,15:50:00,10,AM
4670,78334,INCIDENTE,MANAUS,AM,SBEG,2018-10-30 00:00:00,18:50:00,10,AM
4709,78341,INCIDENTE GRAVE,MANAUS,AM,SBEG,2018-11-28 00:00:00,19:43:00,10,AM
4912,78713,INCIDENTE,MANAUS,AM,SBEG,2019-04-28 00:00:00,17:18:00,10,AM
4940,78723,INCIDENTE,MANAUS,AM,SBEG,2019-05-15 00:00:00,02:30:00,10,AM
4964,78740,ACIDENTE,MANAUS,AM,SBEG,2019-06-15 00:00:00,16:10:00,10,AM
5089,78785,ACIDENTE,MANAUS,AM,SBEG,2019-09-16 00:00:00,16:26:00,10,AM
5288,79164,INCIDENTE,MANAUS,AM,SBEG,2020-01-28 00:00:00,19:42:00,10,AM
5579,79528,INCIDENTE,MANAUS,AM,SBEG,2020-09-03 00:00:00,11:29:00,10,AM
5606,79591,INCIDENTE,MANAUS,AM,SBEG,2020-09-20 00:00:00,18:50:00,10,AM
5691,79709,INCIDENTE,MANAUS,AM,SBEG,2020-11-24 00:00:00,01:00:00,10,AM
5730,79785,INCIDENTE,MANAUS,AM,SBEG,2020-12-19 00:00:00,12:37:00,10,AM

In [89]:
df.loc[df.ocorrencia_classificacao == 'INCIDENTE GRAVE']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09 00:00:00,12:30:00,10,AM
8,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10 00:00:00,23:15:00,10,PR
9,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10 00:00:00,20:00:00,10,MG
29,39709,INCIDENTE GRAVE,CURITIBA,PR,SBBI,2010-01-23 00:00:00,16:36:00,10,PR
35,39487,INCIDENTE GRAVE,PALMAS,TO,SBPJ,2010-01-26 00:00:00,16:50:00,10,TO
...,...,...,...,...,...,...,...,...,...
5741,79754,INCIDENTE GRAVE,NOVA MARINGÁ,MT,****,2020-12-28 00:00:00,13:00:00,10,MT
5744,79753,INCIDENTE GRAVE,GOIATUBA,GO,****,2020-12-29 00:00:00,12:00:00,10,GO
5746,79769,INCIDENTE GRAVE,MANOEL URBANO,AC,SIMB,2020-12-29 00:00:00,18:30:00,10,AC
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30 00:00:00,18:30:00,10,TO
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31 00:00:00,09:00:00,10,MS

In [90]:
df.head(10)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS
5,39807,INCIDENTE,SALVADOR,BA,****,2010-01-06 00:00:00,17:53:00,10,BA
6,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07 00:00:00,18:40:00,10,AM
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09 00:00:00,12:30:00,10,AM
8,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10 00:00:00,23:15:00,10,PR
9,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10 00:00:00,20:00:00,10,MG

In [91]:
# Para filtrar linhas separadas, deve-se usar listas dentro de listas

df.loc[[1, 3, 5, 7, 9]]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
1,20,20,20,20,20,20,20,10,20
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
5,39807,INCIDENTE,SALVADOR,BA,****,2010-01-06 00:00:00,17:53:00,10,BA
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09 00:00:00,12:30:00,10,AM
9,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10 00:00:00,20:00:00,10,MG

In [92]:
df.loc[[0, 2, 4, 6, 8]]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS
6,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07 00:00:00,18:40:00,10,AM
8,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10 00:00:00,23:15:00,10,PR

In [93]:
# Para Filtrar por coluna, tem que passar os nomes das colunas como lista

df.loc[:,['codigo_ocorrencia2', 'ocorrencia_classificacao', 'ocorrencia_cidade', 'ocorrencia_aerodromo']]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_aerodromo
0,40211,INCIDENTE,RIO DE JANEIRO,
1,20,20,20,20
2,40351,INCIDENTE,RIO DE JANEIRO,SBRJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,****
4,40324,INCIDENTE,PELOTAS,SBPK
...,...,...,...,...
5747,79804,GRAVE,CAMPINAS,SBKP
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,****
5749,79802,INCIDENTE,RIO DE JANEIRO,SBGL
5750,79756,INCIDENTE GRAVE,VICENTINA,****
5751,79844,INCIDENTE,RIO DE JANEIRO,SBJR

In [94]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS

In [95]:
# Realizando filtros nas linhas que contém ****

df.loc[df.ocorrencia_aerodromo == '****']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
5,39807,INCIDENTE,SALVADOR,BA,****,2010-01-06 00:00:00,17:53:00,10,BA
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09 00:00:00,12:30:00,10,AM
9,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10 00:00:00,20:00:00,10,MG
10,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10 00:00:00,21:30:00,10,RS
...,...,...,...,...,...,...,...,...,...
5741,79754,INCIDENTE GRAVE,NOVA MARINGÁ,MT,****,2020-12-28 00:00:00,13:00:00,10,MT
5744,79753,INCIDENTE GRAVE,GOIATUBA,GO,****,2020-12-29 00:00:00,12:00:00,10,GO
5745,79755,ACIDENTE,MATO RICO,PR,****,2020-12-29 00:00:00,10:30:00,10,PR
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30 00:00:00,18:30:00,10,TO
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31 00:00:00,09:00:00,10,MS

In [36]:
# Para Filtrar e modificar os valores utiliza-se a função loc
# Filtrando : df.loc[df.nome_da_coluna == 'valor_procurado']
# Substituindo valores: df.loc[df.nome_da_coluna == 'valor_procurado', ['nome_da_coluna_sem_df']] = 'novo_valor'

df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

ocorrencia_aerodromo
****-ok-df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA 
*****-ok-df.loc[df.ocorrencia_aerodromo == '*****', ['ocorrencia_aerodromo']] = pd.NA
###!-ok-df.loc[df.ocorrencia_aerodromo == '###!', ['ocorrencia_aerodromo']] = pd.NA
####-ok-df.loc[df.ocorrencia_aerodromo == '####', ['ocorrencia_aerodromo']] = pd.NA

# Para realizar a substituição de vários valores ao mesmo tempo utilize a função replace()
# Sintaxe1: df.replace(valor_antigo, novo_valor, inplace=True)
# Sintaxe2: df.replace(['lista_de_valores_que_serao_substituidos'], novo_valor, inplace=True)

In [97]:
df.replace(['**','****','*****','###!','####','NULL'], pd.NA, inplace=True)

In [102]:
df.isna().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2348
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              1
dtype: int64

In [103]:
df.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2348
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              1
dtype: int64

In [101]:
# Para Preencher com valores específicos onde existem dados NA.  
# df.fillna(10, inplace=True)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,0,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS
...,...,...,...,...,...,...,...,...,...
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,SP
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,0,2020-12-30 00:00:00,18:30:00,10,TO
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10,RJ
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,0,2020-12-31 00:00:00,09:00:00,10,MS
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31 00:00:00,13:24:00,10,RJ

In [104]:
# Para Preencher um valor especifico em uma coluna use fillna

# Exemplo: df.fillna(value={'total_recomendacoes': 10})

In [105]:
# Criando uma Nova Coluna

df['total_recomendacoes_bkp'] = df.total_recomendacoes

In [107]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp,total_recomendacoes_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ,10
1,20,20,20,20,20,20,20,10,20,10
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ,10
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,10,MT,10
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS,10

In [111]:
# Excluindo uma coluna
df.drop(['total_recomendacoes_bkp'], axis=1, inplace=True)

df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS

In [112]:
# Excluindo TODOS VALORES NA
# MUITO CUIDADO AO USAR ESTA FUNÇÃO, PODE PERDER TUDO!
# df.dropna()

In [116]:
# Para excluir linhas de uma coluna específica. use o parâmentro subset

df.dropna(subset=['ocorrencia_uf'])
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS

In [117]:
# Para Excluir valores duplicados, use drop_duplicates

df.drop_duplicates(inplace=True)
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS